:root {
  --graph-find-input--width: 15em;
  --graph-side-panel--font-size: var(--kiali-global--font-size);
  --graph-side-panel--font-size-px: var(--kiali-global--font-size-px);
}

#summary-appbox-actions .pf-c-dropdown__toggle {
  font-size: var(--graph-side-panel--font-size);
}
#summary-appbox-actions .pf-c-dropdown__menu-item {
  font-size: var(--graph-side-panel--font-size);
}

#summary-node-actions .pf-c-dropdown__toggle {
  font-size: var(--graph-side-panel--font-size);
}
#summary-node-actions .pf-c-dropdown__menu-item {
  font-size: var(--graph-side-panel--font-size);
}

// Panel graph styles from bootstrap

.panel {
  margin-bottom: 23px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-default > .panel-heading {
  color: #363636;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Override to Dropdown's internal style for Find/Hide presets

#graph-findhide-presets .pf-c-dropdown__menu {
  left: calc(-1 * var(--graph-find-input--width));
}
