{
  "extends": "react-app",
  "ignorePatterns": ["build", "node_modules"],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/anchor-has-content": "off",
    "no-used-before-declare": "off",
    "no-unused-variable": "off",
    "no-restricted-globals": ["error", "event"],
    "no-undef": "off",
    "import/no-default-export": "error"
  }
}
