# These tasks remove all Kiali resources such that no remnants of Kiali will remain.
#
# Note that we ignore_errors everywhere - we do not want these tasks to ever abort with a failure.
# This is because these are run within a finalizer and if a failure aborts any task here
# the user will never be able to delete the Kiali CR - in fact, the delete will hang indefinitely
# and the user will need to do an ugly hack to fix it.

- ignore_errors: yes
  debug:
    msg: REMOVING KIALI

- name: Get information about the cluster
  ignore_errors: yes
  set_fact:
    api_groups: "{{ lookup('k8s', cluster_info='api_groups') }}"
  when:
  - is_openshift == False
  - is_k8s == False

- name: Determine the cluster type
  ignore_errors: yes
  set_fact:
    is_openshift: "{{ True if 'route.openshift.io' in api_groups else False }}"
    is_k8s: "{{ False if 'route.openshift.io' in api_groups else True }}"
  when:
  - is_openshift == False
  - is_k8s == False

# Indicate what kind of cluster we are in (OpenShift or Kubernetes).
- ignore_errors: yes
  debug:
    msg: "CLUSTER TYPE: is_openshift={{ is_openshift }}; is_k8s={{ is_k8s }}"

- name: Print some debug information
  vars:
    msg: |
        Kiali Variables:
        --------------------------------
        {{ kiali_vars | to_nice_yaml }}
  debug:
    msg: "{{ msg.split('\n') }}"
  tags: test

- name: "Delete Kiali resources"
  ignore_errors: yes
  k8s:
    state: absent
    api_version: "{{ k8s_item.apiVersion }}"
    kind: "{{ k8s_item.kind }}"
    namespace: "{{ kiali_vars.deployment.namespace }}"
    name: "{{ k8s_item.metadata.name }}"
  register: delete_result
  until: delete_result.result == {} or (delete_result.result.status is defined and delete_result.result.status == "Success")
  retries: 6
  delay: 10
  when:
  - is_openshift == True or is_k8s == True
  - k8s_item is defined
  - k8s_item.apiVersion is defined
  - k8s_item.kind is defined
  - k8s_item.metadata is defined
  - k8s_item.metadata.name is defined
  loop:
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='Ingress', resource_name='kiali', api_version='extensions/v1beta1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='Deployment', resource_name='kiali', api_version='apps/v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='ReplicaSet', resource_name='kiali', api_version='v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='Pod', resource_name='kiali', api_version='v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='Service', resource_name='kiali', api_version='v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='CustomResourceDefinition', resource_name='monitoringdashboards.monitoring.kiali.io', api_version='apiextensions.k8s.io/v1beta1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='ServiceAccount', resource_name='kiali-service-account', api_version='v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='ClusterRoleBinding', resource_name='kiali', api_version='v1beta1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='ClusterRole', resource_name='kiali', api_version='rbac.authorization.k8s.io/v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='ClusterRole', resource_name='kiali-viewer', api_version='rbac.authorization.k8s.io/v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='ConfigMap', resource_name='kiali', api_version='v1') }}"
  loop_control:
    loop_var: k8s_item

- name: "Delete OpenShift-specific Kiali resources"
  ignore_errors: yes
  k8s:
    state: absent
    api_version: "{{ os_item.apiVersion }}"
    kind: "{{ os_item.kind }}"
    namespace: "{{ kiali_vars.deployment.namespace }}"
    name: "{{ os_item.metadata.name }}"
  register: delete_result
  until: delete_result.result is defined
  retries: 10
  delay: 2
  when:
  - is_openshift == True
  - os_item is defined
  - os_item.apiVersion is defined
  - os_item.kind is defined
  - os_item.metadata is defined
  - os_item.metadata.name is defined
  loop:
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='OAuthClient', resource_name='kiali', api_version='oauth.openshift.io/v1') }}"
  - "{{ lookup('k8s', namespace=kiali_vars.deployment.namespace, kind='Route', resource_name='kiali', api_version='route.openshift.io/v1') }}"
  loop_control:
    loop_var: os_item

- name: Kiali operator has completed all processing for removal.
  debug:
    msg: "KIALI REMOVAL IS DONE."
