// PatternFly 4 overrides

/*
Define --kiali-global--font-size to match $font-size-base, defined in index.scss. It
should be used across kiali as the default fontSize, unless the case is exceptional.
We then override --pf-global--FontSize--md to be our kiali default. This is a widely
used PF default font size (typically 16px), but we want it smaller in Kiali, for
consistency and space efficiency (and to echo console).
*/
:root {
  --kiali-global--font-size: 14px;
  --kiali-global--font-size-px: 14;
  --pf-global--FontSize--md: var(--kiali-global--font-size);
}
/*
Then, in components for which we don't want the override, we must
revert the change back to the desired font size.
*/
.pf-c-nav__link {
  --pf-c-nav__link--FontSize: 16px;
}
.pf-c-tabs__link {
  --pf-c-tabs__link--FontSize: 16px;
}

/*
Remove global page padding by default
*/
.pf-c-page__main-section {
  padding: 0px;
}

/*
Ensure dark background for login page.
- TODO: Revisit this after updating to use standard PF login components
*/
.pf-c-login,
.login-pf {
  background-image: none;
  background-color: #030303;
}

/*
Ensure Chips and ChipGroups show long values
*/
.pf-c-chip-group__label {
  --pf-c-chip-group__label--MaxWidth: 50em;
}

.pf-c-chip__text {
  --pf-c-chip__text--MaxWidth: 50em;
}

/*
Kiosk mode
*/
html.kiosk {
  #page-sidebar {
    display: none;
  }

  header[role='kiali_header'] {
    display: none;
  }
}

/*
Datepicker overrides for graph replay and other uses
- note: global .tooltip setting but I think it should be OK
*/
// use PF fonts and font-size
.react-datepicker {
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize);
}
// provide more space for time container given bigger font
.react-datepicker__time-container {
  width: 110px;
  .react-datepicker__time {
    .react-datepicker__time-box {
      width: 100%;
    }
  }
}
// Make sure datepicker popper rises above other inflated z-index elements
//   - secondaryMasthead currently at 10
.react-datepicker-popper {
  z-index: 11;
}
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 118px;
}
// Make sure tooltips are below datepicker popper but above secondary masthead
.tooltip {
  z-index: 10 !important;
}

/*
Drawer panels should have less z-index than dropdowns
*/
.pf-c-drawer__panel {
  z-index: 199 !important;
}
