/*
Keep same height that buttons
 */
.slider-input-pf {
  height: 23px;
}

// Styles to create the pf slider
.slider-pf {
  display: flex;
  align-items: center;

  * {
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }

  .slider {
    width: auto;
    flex: 1 1 100%;
  }
}

.slider-pf-mirrored {
  display: flex;
  align-items: center;

  * {
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }

  .slider {
    width: auto;
    flex: 1 1 100%;

    .slider-track {
      .slider-selection {
        background-image: -webkit-linear-gradient(top, #703fec 0%, #7144e7 100%);
        background-image: -o-linear-gradient(top, #703fec 0%, #7144e7 100%);
        background-image: linear-gradient(to bottom, #703fec 0%, #7144e7 100%);
      }
    }
  }
}

.slider-handle {
  width: 16px;
  height: 16px;
  border: 1px solid #bbb;
}

.slider-tick {
  background-color: transparent !important;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 2px, transparent 0) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
