.style {
  :global {
    /* Slider CSS styles extracted from bootstrap-slider-without-jquery library (v10.0.0) */
    .slider {
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }
    .slider.slider-horizontal {
      width: 100%;
      height: 16px;
    }
    .slider.slider-horizontal .slider-track {
      height: 8px;
      width: 100%;
      margin-top: -4px;
      top: 50%;
      left: 0;
    }
    .slider.slider-horizontal .slider-selection,
    .slider.slider-horizontal .slider-track-high,
    .slider.slider-horizontal .slider-track-low {
      height: 100%;
      top: 0;
      bottom: 0;
    }
    .slider.slider-horizontal .slider-handle,
    .slider.slider-horizontal .slider-tick {
      margin-left: -8px;
    }
    .slider.slider-horizontal .slider-handle.triangle,
    .slider.slider-horizontal .slider-tick.triangle {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border-width: 0 8px 8px;
      width: 0;
      height: 0;
      border-bottom-color: var(--pf-v6-global--BorderColor--300);
      margin-top: 0;
    }
    .slider.slider-horizontal .slider-tick-container {
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .slider.slider-horizontal .slider-tick-label-container {
      white-space: nowrap;
      margin-top: 16px;
    }
    .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
      display: inline-block;
      padding-top: 19.2px;
      text-align: center;
    }
    .slider.slider-horizontal.slider-rtl .slider-track {
      left: auto;
      right: 0;
    }
    .slider.slider-horizontal.slider-rtl .slider-handle,
    .slider.slider-horizontal.slider-rtl .slider-tick {
      margin-left: 0;
      margin-right: -8px;
    }
    .slider.slider-horizontal.slider-rtl .slider-tick-container {
      left: auto;
      right: 0;
    }
    .slider.slider-vertical {
      height: 210px;
      width: 16px;
    }
    .slider.slider-vertical .slider-track {
      width: 8px;
      height: 100%;
      left: 25%;
      top: 0;
    }
    .slider.slider-vertical .slider-selection {
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }
    .slider.slider-vertical .slider-track-high,
    .slider.slider-vertical .slider-track-low {
      width: 100%;
      left: 0;
      right: 0;
    }
    .slider.slider-vertical .slider-handle,
    .slider.slider-vertical .slider-tick {
      margin-top: -8px;
    }
    .slider.slider-vertical .slider-handle.triangle,
    .slider.slider-vertical .slider-tick.triangle {
      border-width: 8px 0 8px 8px;
      width: 1px;
      height: 1px;
      border-left-color: var(--pf-v6-global--BorderColor--300);
      margin-left: 0;
    }
    .slider.slider-vertical .slider-tick-label-container {
      white-space: nowrap;
    }
    .slider.slider-vertical .slider-tick-label-container .slider-tick-label {
      padding-left: 3.2px;
    }
    .slider.slider-vertical.slider-rtl .slider-track {
      left: auto;
      right: 25%;
    }
    .slider.slider-vertical.slider-rtl .slider-selection {
      left: auto;
      right: 0;
    }
    .slider.slider-vertical.slider-rtl .slider-handle.triangle,
    .slider.slider-vertical.slider-rtl .slider-tick.triangle {
      border-width: 8px 8px 8px 0;
    }
    .slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label {
      padding-left: 0;
      padding-right: 3.2px;
    }
    .slider.slider-disabled .slider-selection {
      cursor: not-allowed;
    }
    .slider input {
      display: none;
    }
    .slider .tooltip.top {
      margin-top: -36px;
    }
    .slider .tooltip-inner {
      white-space: nowrap;
      max-width: none;
    }
    .slider .hide {
      display: none;
    }
    .slider-selection,
    .slider-track {
      border-radius: 4px;
      position: absolute;
    }
    .slider-track {
      background-color: var(--pf-v6-global--BackgroundColor--200);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .slider-selection {
      background-color: var(--pf-v6-global--active-color--300);
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .slider-selection.tick-slider-selection {
      background-color: var(--pf-v6-global--active-color--300);
    }
    .slider-track-high,
    .slider-track-low {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 4px;
      position: absolute;
      background: transparent;
    }
    .slider-handle {
      background-color: var(--pf-v6-global--active-color--300);
      -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      position: absolute;
      top: 0;
      border: 0 solid transparent;
    }
    .slider-handle.round {
      border-radius: 16px;
    }
    .slider-handle.custom,
    .slider-handle.triangle {
      background: transparent none;
    }
    .slider-handle.custom:before {
      line-height: 16px;
      font-size: 20px;
      content: '\2605';
      color: var(--pf-t--chart--color--orange--400);
    }
    .slider-tick {
      background-color: var(--pf-v6-global--BackgroundColor--200);
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 16px;
      -webkit-filter: none;
      filter: none;
      opacity: 0.8;
      border: 0 solid transparent;
    }
    .slider-tick.round {
      border-radius: 50%;
    }
    .slider-tick.custom,
    .slider-tick.triangle {
      background: transparent none;
    }
    .slider-tick.custom:before {
      line-height: 16px;
      font-size: 20px;
      content: '\2605';
      color: var(--pf-t--chart--color--yellow--500);
    }
    .slider-tick.in-selection {
      background-color: var(--pf-t--color--blue--40);
      opacity: 1;
    }

    /* Tooltip CSS styles extracted from bootstrap library (v3.4.1) */
    .tooltip {
      position: absolute;
      z-index: 1070;
      display: block;
      font-family: Open Sans, Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 1.66667;
      line-break: auto;
      text-align: left;
      text-align: start;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
      white-space: normal;
      font-size: 13px;
      filter: alpha(opacity=0);
      opacity: 0;
    }
    .tooltip.in {
      filter: alpha(opacity=90);
      opacity: 0.9;
    }
    .tooltip.top {
      padding: 8px 0;
      margin-top: -3px;
    }
    .tooltip.right {
      padding: 0 8px;
      margin-left: 3px;
    }
    .tooltip.bottom {
      padding: 8px 0;
      margin-top: 3px;
    }
    .tooltip.left {
      padding: 0 8px;
      margin-left: -3px;
    }
    .tooltip.top .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -8px;
      border-width: 8px 8px 0;
      border-top-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip.top-left .tooltip-arrow {
      right: 8px;
    }
    .tooltip.top-left .tooltip-arrow,
    .tooltip.top-right .tooltip-arrow {
      bottom: 0;
      margin-bottom: -8px;
      border-width: 8px 8px 0;
      border-top-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip.top-right .tooltip-arrow {
      left: 8px;
    }
    .tooltip.right .tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -8px;
      border-width: 8px 8px 8px 0;
      border-right-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip.left .tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -8px;
      border-width: 8px 0 8px 8px;
      border-left-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip.bottom .tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -8px;
      border-width: 0 8px 8px;
      border-bottom-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip.bottom-left .tooltip-arrow {
      top: 0;
      right: 8px;
      margin-top: -8px;
      border-width: 0 8px 8px;
      border-bottom-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip.bottom-right .tooltip-arrow {
      top: 0;
      left: 8px;
      margin-top: -8px;
      border-width: 0 8px 8px;
      border-bottom-color: var(--pf-v6-global--palette--black-800);
    }
    .tooltip-inner {
      max-width: 220px;
      padding: 3px 8px;
      color: var(--pf-v6-global--Color--light-100);
      text-align: center;
      background-color: var(--pf-v6-global--BackgroundColor--dark-200);
      border-radius: 1px;
    }
    .tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }
}
