html,
body,
#app,
#content,
#content-scrollable,
.pf-c-page__main-section {
  /*
   * --pf-c-page__header--MinHeight is the height of the masthead
   * 130px is the vertical space being used by the breadcrumb, tab headers, and the name of the {workload,svc,app}
   */
  --kiali-details-pages-tab-content-height: calc(100vh - 130px - var(--pf-c-page__header--MinHeight));

  height: 100%; // so .co-p-has-sidebar, .yaml-editor are full height
}

#content {
  display: flex;
  flex-direction: column;
  font-size: $font-size-base; // so PatternFly 4's PatternFly 3 shield rules don't override
}

#content-scrollable {
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100vh - var(--pf-c-page__header--MinHeight));
  position: relative;
  -webkit-overflow-scrolling: touch;
}

#global-namespace-selector + #content-scrollable {
  // 45px is the height of the global namespace selector
  height: calc(100vh - 42px - var(--pf-c-page__header--MinHeight));
}
