.label-collection {
  overflow: hidden;
}

.label-pair {
  margin: 3px 2px 2px;
  max-width: 100%;
  float: left;
  display: block;

  .label {
    min-width: 50px;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  .label-key {
    background-color: #bee1f4;
    color: #00659c;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0;
  }

  .label-value {
    background-color: #7dc3e8;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0;
  }
}
