.istio-ace-editor {
  /*
   * 70px is the height of the bottom toolbar (save, reload and cancel buttons)
   * 100px is the top margin of the yaml editor (Adjusted with RenderComponentScroll).
   * So, substracting 170px from the tab content height.
   */
  --kiali-yaml-editor-height: calc(var(--kiali-details-pages-tab-content-height) - 170px);
  position: relative;
  min-height: 200px;
  border: 1px solid #8b8d8f;
  font-size: var(--kiali-global--font-size) !important;
}

.istio-validation-error {
  position: absolute;
  background: rgba(204, 0, 0, 0.5);
}

.istio-validation-warning {
  position: absolute;
  background: rgba(236, 122, 8, 0.5);
}

.istio-validation-info {
  position: absolute;
  background: #d1d1d1;
}

div.ace_gutter-cell.ace_info {
  background-image: none;
  &::before {
    content: '\E92b';
    font-family: 'pficon';
    left: 5px;
    position: absolute;
  }
}
