$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

/**
  Patternfly Sass
*/
@import 'patternfly';

/**
  Patternfly React Specific Sass Extensions
*/
@import 'patternfly-react';

/**
  Patternfly React Extensions Sass
*/
@import 'patternfly-react-extensions';

/**
  Application Overrides
*/
//override navbar-default from React Boostrap NavBar
.navbar-default .navbar-toggle {
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

// Override RCUE style: https://redhat-rcue.github.io/
// otherwise we get a 35px height for title which is distorted
.navbar-pf-vertical .navbar-brand .navbar-brand-name {
  height: 12px !important;
}

.navbar-pf-vertical .nav .nav-item-iconic .badge-danger {
  background-color: #cc0000; // Red100
}

a:hover,
a:focus {
  text-decoration: none;
}

.pficon.pficon-info.form-pficon-info {
  color: #1589cb;
  font-size: 15px;
  padding-left: 10px;
  vertical-align: middle;
}

// Take out extra margin and padding for breadcrumb
.breadcrumb {
  margin-bottom: -5px;
}

// SplitButton looks separated inside a toolbar, fix that
.toolbar-pf .form-group .btn + .btn {
  margin-left: 0;
}

.App-body {
  text-align: center;
}

.App-intro {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-paragraph {
  font-size: large;
  margin: 20px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.c3-legend-item-hidden {
  opacity: 0.4;
}
.navbar-pf-vertical,
.about-modal-pf,
.login-pf body,
.nav-pf-vertical,
.nav-pf-vertical .list-group-item.active > a,
.nav-pf-vertical .list-group-item:hover > a {
  background-color: #003145;
  background-image: none;
}
.nav-pf-vertical .list-group-item.active,
.nav-pf-vertical .list-group-item.active:hover {
  border-color: #438fdd;
}
.nav-pf-vertical .list-group-item {
  border-color: #18546b;
}
.nav-pf-vertical .list-group .list-group-item:first-child {
  border-top: 2px solid #18546b;
}
.nav-pf-vertical .list-group .list-group-item.active:first-child {
  border-top: 2px solid #438fdd;
}

html.kiosk.layout-pf.layout-pf-fixed nav.navbar.navbar-pf-vertical {
  display: none;
}

html.kiosk.layout-pf.layout-pf-fixed div.nav-pf-vertical.nav-pf-vertical-with-sub-menus.nav-pf-persistent-secondary {
  display: none;
}

html.kiosk.layout-pf.layout-pf-fixed > body {
  padding-top: 0px;
}

html.kiosk.layout-pf.layout-pf-fixed div.container-fluid.container-pf-nav-pf-vertical {
  margin-left: 0px;
}

.toast-pf {
  max-width: 100%;
}
