$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

/**
  Patternfly Sass
*/
@import 'patternfly';

/**
  Patternfly React Specific Sass Extensions
*/
@import 'patternfly-react';

/**
  Application Overrides
*/
//override navbar-default from React Boostrap NavBar
.navbar-default .navbar-toggle {
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

.navbar-pf-vertical .nav .nav-item-iconic .badge-danger {
  background-color: #cc0000; // Red100
}

a:hover,
a:focus {
  text-decoration: none;
}

.pficon.pficon-info.form-pficon-info {
  color: #1589cb;
  font-size: 15px;
  padding-left: 10px;
  vertical-align: middle;
}

.App-body {
  text-align: center;
}

.App-intro {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-paragraph {
  font-size: large;
  margin: 20px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}
