#jaeger_toolbar .pf-c-form__label {
  font-size: 1rem;
}

#jaeger-tags-helper {
  margin-left: -115px;
}

#form-minDurationSpanJaegerTraces-helper,
#form-maxDurationSpanJaegerTraces-helper {
  margin-left: -75px;
}
