.IstioLogo {
  height: 25px;
}

.ServiceList-Heading {
  vertical-align: top;
}

.ServiceList-Title {
  display: inline-block;
}

.ServiceList-IstioLogo {
  display: inline-block;
  position:relative;
  top:-10px;
  padding-right: 10px;
}
