.IstioLogo {
  height: 25px;
}

.card-pf-title {
  .IstioLogo {
    margin-right: 10px;
    margin-left: 5px;
  }
}

.ServiceList-Heading {
  vertical-align: top;
}

.ServiceList-Title {
  display: inline-block;
}

.ServiceList-IstioLogo {
  display: inline-block;
  position:relative;
  top:-10px;
  padding-right: 10px;
}

.health-icon {
  top: 3px;
  position: relative;
}
