<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.22">
      <jobPropertyDescriptors>
        <string>org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty</string>
        <string>hudson.model.ParametersDefinitionProperty</string>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.32">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_TYPE</name>
          <description>Valid values are: auto, minor, snapshot.0, snapshot.1, edge. When &quot;auto&quot; is
specified, the type of the release will be determined based on the current date.</description>
          <defaultValue>auto</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RELEASING_BRANCHES</name>
          <description>Name of branch of all repositories to checkout and run the release. The only exception is the website which is always run on the `master` branch.</description>
          <defaultValue>refs/heads/master</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BACKEND_REPO</name>
          <description>The GitHub repo of the back-end sources, in owner/repo format.</description>
          <defaultValue>kiali/kiali</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UI_REPO</name>
          <description>The GitHub repo of the front-end sources, in owner/repo format.</description>
          <defaultValue>kiali/kiali-ui</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OPERATOR_REPO</name>
          <description>The GitHub repo of the kiali-operator sources, in owner/repo format.</description>
          <defaultValue>kiali/kiali-operator</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SITE_REPO</name>
          <description>The GitHub repo of the website sources, in owner/repo format.</description>
          <defaultValue>kiali/kiali.io</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HELM_REPO</name>
          <description>The GitHub repo of the Helm charts sources, in owner/repo format.</description>
          <defaultValue>kiali/helm-charts</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QUAY_NAME</name>
          <description>The name of the Quay repository to push the release</description>
          <defaultValue>quay.io/kiali/kiali</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QUAY_OPERATOR_NAME</name>
          <description>The name of the Quay repository to push the operator release</description>
          <defaultValue>quay.io/kiali/kiali-operator</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NPM_DRY_RUN</name>
          <description>Set to &quot;y&quot; if you want to make a &quot;dry run&quot; of the front-end release process</description>
          <defaultValue>y</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SKIP_BACKEND_RELEASE</name>
          <description>Set to &apos;y&apos; if you don&apos;t want to release the backend</description>
          <defaultValue>n</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SKIP_UI_RELEASE</name>
          <description>Set to &apos;y&apos; if you don&apos;t want to release the UI</description>
          <defaultValue>n</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SKIP_OPERATOR_RELEASE</name>
          <description>Set to &apos;y&apos; if you don&apos;t want to release the operator</description>
          <defaultValue>n</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SKIP_HELM_RELEASE</name>
          <description>Set to &apos;y&apos; if you don&apos;t want to release the helm charts</description>
          <defaultValue>n</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SKIP_SITE_RELEASE</name>
          <description>Set to &apos;y&apos; if you don&apos;t want to release the website</description>
          <defaultValue>n</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UI_VERSION</name>
          <description>If you are skipping UI release. Specify the UI version to package, or leave
unset to use the version present in the main Makefile (e.g. leave unset for patch releases)</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NPM_CONFIG_REGISTRY</name>
          <description>Registry to use for fetching packages. This is not used for publishing releases. Do not include the trailing slash.</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.90">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.6.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>git@github.com:kiali/kiali.git</url>
          <credentialsId>kiali-bot-gh-ssh</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>refs/heads/master</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>deploy/jenkins-ci/Jenkinsfile</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>