name: Integration Tests Backend

on:
  workflow_call:
    inputs:
      target_branch:
        required: true
        type: string
      build_branch:
        required: true
        type: string
      istio_version:
        required: false
        type: string
        default: ""

env:
  TARGET_BRANCH: ${{ inputs.target_branch }}
  # BUILD_BRANCH is used by setup-kind-in-ci.sh to locate a matching helm-charts branch.
  # If build_branch is empty, fallback to target_branch
  BUILD_BRANCH: ${{ inputs.build_branch || inputs.target_branch }}

jobs:
  integration_tests_backend:
    name: Backend API integration tests
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.build_branch }}

    - name: Install Helm
      uses: Azure/setup-helm@v4.3.1
      with:
        version: 'v3.18.4'

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        # The builtin cache feature ensures that installing golangci-lint
        # is consistently fast.
        cache: true
        cache-dependency-path: go.sum

    - name: Download go binary
      uses: actions/download-artifact@v7
      with:
        name: kiali
        path: ~/go/bin/

    - name: Ensure kiali binary is executable
      run: chmod +x ~/go/bin/kiali

    - name: Run backend integration tests
      id: intTests
      run: hack/run-integration-tests.sh --test-suite backend $(if [ -n "${{ inputs.istio_version }}" ]; then echo "--istio-version ${{ inputs.istio_version }}"; fi)

    - name: Run backend controller integration tests
      run: make $(if [ -n "${{ inputs.istio_version }}" ]; then echo "ISTIO_VERSION=${{ inputs.istio_version }}"; fi) test-integration-controller

    - name: Get debug info when integration tests fail
      if: ${{ failure() && steps.intTests.conclusion == 'failure' }}
      run: |
        mkdir debug-output
        hack/ci-get-debug-info.sh --output-directory debug-output

    - name: Upload debug info artifact
      if: ${{ failure() && steps.intTests.conclusion == 'failure' }}
      uses: actions/upload-artifact@v6
      with:
        name: debug-info-${{ github.job }}
        path: debug-output

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: junit-rest-report
        path: tests/integration/junit-rest-report.xml
        if-no-files-found: warn

  report-to-reportportal:
    name: Report to ReportPortal
    needs: integration_tests_backend
    if: always()
    runs-on: ubuntu-latest
    container:
      image: quay.io/dno/droute:latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.build_branch }}

    - name: Download test results
      uses: actions/download-artifact@v7
      with:
        name: junit-rest-report
        path: tests/integration/

    - name: Report to ReportPortal
      continue-on-error: true
      uses: ./.github/actions/report-to-reportportal
      with:
        test_suite: 'backend'
        test_results_dir: 'tests/integration'
        test_file_name: 'junit-rest-report.xml'
        istio_version: ${{ inputs.istio_version }}
        data_plane_mode: 'sidecar'
        data_router_username: ${{ secrets.DATA_ROUTER_USERNAME }}
        data_router_password: ${{ secrets.DATA_ROUTER_PASSWORD }}
