name: Integration Tests Frontend

on:
  workflow_call:
    inputs:
      target_branch:
        required: true
        type: string
      build_branch:
        required: true
        type: string

env:
  TARGET_BRANCH: ${{ inputs.target_branch }}

jobs:
  integration_tests_frontend_multicluster:
    name: Cypress integration tests
    runs-on: ubuntu-latest
    env:
      # Copied from: https://github.com/bahmutov/cypress-gh-action-split-install/blob/ca3916d4e7240ebdc337825d2d78eb354855464b/.github/workflows/tests.yml#L7-L11
      # prevents extra Cypress installation progress messages
      CI: 1
      # avoid warnings like "tput: No value for $TERM and no -T specified"
      TERM: xterm
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.build_branch }}

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn
          cache-dependency-path: frontend/yarn.lock

      - name: Download go binary
        uses: actions/download-artifact@v4
        with:
          name: kiali
          path: ~/go/bin/

      - name: Ensure kiali binary is executable
        run: chmod +x ~/go/bin/kiali

      - name: Download frontend build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: frontend/build

      # Need to install frontend dependencies to run cypress tests.
      - name: Install frontend dependencies
        working-directory: ./frontend
        run: yarn install --frozen-lockfile

      - name: Run frontend multi-cluster integration tests
        run: hack/run-integration-tests.sh --test-suite frontend-multi-cluster

      - name: Get debug info when integration tests fail
        if: failure()
        run: |
          kubectl --context kind-east logs -l app.kubernetes.io/name=kiali --tail=-1 --all-containers -n istio-system
          kubectl --context kind-east describe nodes
          kubectl --context kind-east get pods -l app.kubernetes.io/name=kiali -n istio-system -o yaml
          kubectl --context kind-east describe pods -n metallb-system
          kubectl --context kind-east logs -p deployments/controller -n metallb-system
          kubectl --context kind-east logs -p ds/speaker -n metallb-system
          kubectl --context kind-east logs deployments/controller -n metallb-system
          kubectl --context kind-east logs ds/speaker -n metallb-system

      - name: Upload cypress screenshots when tests fail
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: frontend/cypress/screenshots
