name: Kiali Molecule Tests

on:
  schedule:
  - cron: '0 6 * * *' # This is UTC time
  workflow_dispatch:
    inputs:
      all_tests:
        description: "Molecule Test Names (space-separated)"
        required: false
        default: ""
        type: string

jobs:
  molecules:
    name: Molecule tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the hack script that runs the tests
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          hack/ci-kind-molecule-tests.sh
    - name: Print the names of the tests that are to be run
      run: |
        if [ -z "${{ inputs.all_tests }}" ]; then
          echo "all tests"
        else
          echo "tests=${{ inputs.all_tests }}"
        fi
    - name: Run molecule tests using helm
      run: ./hack/ci-kind-molecule-tests.sh --client-exe $(which kubectl) --kind-exe $(which kind) --all-tests "${{ inputs.all_tests }}" --git-clone-protocol https --irc-room "" --upload-logs false --rebuild-cluster true -ci true --operator-installer helm --olm-enabled false
    - name: Run molecule tests using OLM
      run: ./hack/ci-kind-molecule-tests.sh --client-exe $(which kubectl) --kind-exe $(which kind) --all-tests "${{ inputs.all_tests }}" --git-clone-protocol https --irc-room "" --upload-logs false --rebuild-cluster true -ci true --operator-installer skip --olm-enabled true
